body {
    color: var(--vscode-editor-foreground);
    background: var(--vscode-editor-background);
    font-family: var(--vscode-editor-font-family, Consolas, 'Courier New', monospace);
    font-size: var(--vscode-editor-font-size, 14px);
    line-height: 1.35em;
    padding: 0 1em;
}

pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.line {
    height: 1.35em;
}

::selection {
    background: var(--vscode-editor-selectionBackground);
}

.token-comment {
    color: color-mix(in srgb, var(--vscode-editor-foreground), transparent);
}
.token-operator {
    color: color-mix(in srgb, var(--vscode-editor-foreground) 70%, transparent);
}

* {
    outline: 1px solid color-mix(in srgb, red, transparent);
}